/* clear */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Fredoka', sans-serif;
}

/* common */

.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

.container{
    max-width: 1150px;
    margin: auto;
}

/* base typography */

.titolo{
    color: #E53170;
    text-align: center;
    padding: 44px 0;
}

.paragrafo{
    text-align: center;
}

/* main */